<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF=8">
	<title>Hearts Content</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/floramon.ico') }}">
</head>
<body>
	<div class="container">
		<div class="header-bar">
			<div class="header-inner">
				<div class="header-title">
					<h1>Hearts Content</h1>
				</div>
				<div class="header-options">
					<ul>
						{% for nv in nav %}
							{{ nv|safe }}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="content-box">
			<div class="content-inner">
				<h2><img class="digimon" src="{{ url_for('static', filename='img/floramon.gif') }}" alt="Floramon">My Content</h2>
				{% if user_content|length>0 %}
				<table>
					<tr>
						<th>Name</th>
						<th>Date</th>
						<th>Likes</th>
						<th>Comments</th>
						<th>Views</th>
						<th>Actions</th>
					</tr>
					{% for item in user_content %}
					<tr>
						<td><a href="/content/view/{{ item.id }}">{{ item.title }}</a></td>
						<td>{{ item.when }}</td>
						<td>{{ item.likes }}</td>
						<td>{{ item.comments }}</td>
						<td>{{ item.views}}</td>
						<td><a href="/content/edit/{{ item.id }}">Edit</a> <a href="/action/content/delete/{{ item.id }}">Delete</a></td>
					</tr>
					{% endfor %}
				</table>
				{% else %}
					<p style="text-align: center;">No content yet from you. <a href="/content/add">Try posting something!</a></p>
				{% endif %}
			</div>
		</div>
	</div>
</body>
</html>