<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF=8">
	<title>Hearts Content</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/floramon.ico') }}">
</head>
<body>
	<div class="container">
		<div class="header-bar">
			<div class="header-inner">
				<div class="header-title">
					<h1>Hearts Content</h1>
				</div>
				<div class="header-options">
					<ul>
						{% for nv in nav %}
							{{ nv|safe }}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="content-box">
			<div class="content-inner">
				<div class="double-main">
					<div class="double-half" id="double-left">
						<h2><img class="digimon" src="{{ url_for('static', filename='img/piyomon.gif') }}" alt="Piyomon">Latest</h2>
						{% if latest_content|length>0 %}
							{% for box in latest_content %}
								<div class="content-item">
									<h3><a href="/content/view/{{ box.id }}">{{ box.title }}</a> - {{ box.likes }} like(s)</h3>
									<p>{{ box.description }}</p>
									<p class="content-item-writer">Written by <a href="/user/profile/{{ box.author.id }}">{{ box.author.first_name }} {{ box.author.last_name }}</a>, {{ box.when }}</p>
								</div>
							{% endfor %}
						{% else %}
							<p>There's no content yet. Post something!</p>
						{%endif %}
					</div>
					<div class="double-half">
						<h2><img class="digimon" src="{{ url_for('static', filename='img/palmon.gif') }}" alt="Palmon">Most Liked</h2>	
						{% if liked_content|length>0 %}
							{% for box in liked_content %}
								<div class="content-item">
									<h3><a href="/content/view/{{ box.id }}">{{ box.title }}</a> - {{ box.likes }} like(s)</h3>
									<p>{{ box.description }}</p>
									<p class="content-item-writer">Written by <a href="/user/profile/{{ box.author.id }}">{{ box.author.first_name }} {{ box.author.last_name }}</a>, {{ box.when }}</p>
								</div>
							{% endfor %}
						{% else %}
							<p>Apparently, nothing is the most liked.</p>
						{%endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<p>Some copyright stuff goes here. It's a footer.</p>
	</div>
</body>
</html>