<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF=8">
	<title>Hearts Content</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/floramon.ico') }}">
</head>
<body>
	<div class="container">
		<div class="header-bar">
			<div class="header-inner">
				<div class="header-title">
					<h1>Hearts Content</h1>
				</div>
				<div class="header-options">
					<ul>
						{% for nv in nav %}
							{{ nv|safe }}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="content-box">
			<div class="content-inner">
				<h2 style="padding: 0px;"><img class="digimon" src="{{ url_for('static', filename='img/piyomon.gif') }}" alt="Piyomon">{{ content.title }}</h2>
				<p><span class="article-info">Written by <a href="/user/profile/{{ content.author.id }}">{{ content.author.first_name }} {{ content.author.last_name }}</a> ({{ content.when }}) - {{ content.likes }} like(s), {{ content.views }} view(s){% if options|length>0 %} |{% for nv in options %} {{ nv|safe }}{% endfor %}{% endif %}</span></p>
				<div class="article-main">
					{{ body|safe }}
				</div>
				<h3>Post a Comment</h3>
				{% if user_id>-1 %}
					{% with messages = get_flashed_messages(category_filter=['content_posting']) %}
					{% if messages %}
					<div class="editor-errors">
						<p style="margin-top: 10px;">There's some problems:</p>
						<ul>
							{% for message in messages %}
							<li>{{message}}</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					{% endwith %}
				<form action="/action/comment/add" method="post">
					<div class="article-commentbox">
						<textarea id="article-tb" name="content_body">{{ edit['content_body'] }}</textarea>
						<input id="comment-button" class="butts" type="submit" value="Post">
					</div>
				</form>
				{% else %}
				<p style="margin-bottom: 25px;">Please be logged in, in order to comment!</p>
				{% endif %}
				
				{% if comments|length>0 %}
				{% for box in comments %}
				<div class="article-comment">
				<h4><a href="/user/profile/{{ box.author.id }}">{{ box.author.first_name }} {{ box.author.last_name }}</a> ({{ box.when }}){% if user_id==box.author.id %} - <a href="/action/comment/delete/{{ box.id }}">Delete</a>{% endif %}</h4>
					<p>{{ box.text }}</p>
				</div>
				{% endfor %}
				</div>
				{% else %}
				<p>No comments.</p>
				{% endif %}
			</div>
		</div>
	</div>
</body>
</html>