<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF=8">
	<title>Hearts Content</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/floramon.ico') }}">
</head>
<body>
	<div class="container">
		<div class="header-bar">
			<div class="header-inner">
				<div class="header-title">
					<h1>Hearts Content</h1>
				</div>
				<div class="header-options">
					<ul>
						{% for nv in nav %}
							{{ nv|safe }}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="content-box">
			<div class="content-inner">
				<h2 style="padding: 0px;"><img class="digimon" src="{{ url_for('static', filename='img/piyomon.gif') }}" alt="Piyomon">{{ content.title }}</h2>
				<p><span class="article-info">Written by <a href="/user/profile/{{ content.author.id }}">{{ content.author.first_name }} {{ content.author.last_name }}</a> ({{ content.when }}) - {{ content.likes }} like(s), {{ content.views }} view(s){% if options|length>0 %} |{% for nv in options %} {{ nv|safe }}{% endfor %}{% endif %}</span></p>
				<div class="article-main">
					{{ body|safe }}
				</div>
				<h3>Post a Comment</h3>
				<form action="/post-request">
					<div class="article-commentbox">
						<textarea id="article-tb" name="comment_body"></textarea>
						<input id="comment-button" class="butts" type="submit" value="Post">
					</div>
				</form>
				
				<!--<div class="article-comment">
					<h4>John Smith (4 Hrs.)</h4>
					<p>Wow, what an amazing story.</p>
				</div>-->
				</div>
			</div>
		</div>
	</div>
</body>
</html>