/* Dev note: Do I need to change the font size? */
* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("floral.jpg");
	font-family: 'Nunito', sans-serif;
}

.container {
	width: 100%;
	height: 100%;
}

.footer {
	background-color: black;
	color: white;
	display: none;
}

.header-bar {
	background-image: linear-gradient(#e5ff28,#388d38, #559fd3);
    color: white;
    height: 75px;
    text-shadow: 3px 3px 4px #4f4f4f;
    box-shadow: 0px 2px 20px 6px #a1c0e3;
    font-weight: bold;
	min-width: 1000px;
}

.header-inner {
	margin: auto;
	width: 1000px;
	min-width: 1000px;
	height: 100%;
	/*display: none;*/
}

.content {
	width: 100%;
	height: 100%;
	
}

.content-box {
	margin: auto;
	width: 1000px;
}

.content-inner {
	margin: 0;
	margin-top: 37px;
	margin-bottom: 37px;
	border-radius: 10px;
	padding: 20px;
	background-color: #fff6e3;
	border: 2px solid #ebdec2;
	box-shadow: 0px 3px 10px 1px #bbc3cb;
}

.header-options {
	display: flex;
	width: 100%;
	height: 100%;
	font-size: 18pt;
}

.header-options ul {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.header-options li{
    padding: 15px;
    border: 0px solid #5e82e799;
    border-radius: 5px;
    transition: background-color 0.2s;
    user-select: none;
    cursor: pointer;
    box-shadow: inset 0px 0px 5px 0px #00000030;
}

.header-options li:hover{
	background-color: #B6CE5A;
	/*background-color: #DB9AAC;*/
	/*box-shadow: inset 0px 0px 0px 0px #00000030;*/
}

.header-selected
{
	background-color: #7ab7ff;
	/*box-shadow: inset 0px 0px 0px 0px #00000030;*/
}

.header-title {
	display: none;
}

.double-main {
	display: flex;
}

.double-half {
	flex: 1;
}

#double-left {
	margin-right: 50px;
	border-right: 4px dotted #ffdcc0;
}

.content-item {
	margin-right: 20px;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid #ffdcc0;
	border-radius: 5px;
	transition: background-color 0.2s;
	user-select: none;
    cursor: pointer;
}

.content-item:hover {
	background-color: #ffdcc0;
}

h2 {
	font-size: 24pt;
	padding-bottom: 10px;
}

h3 {
	font-size: 14pt;
}

p {
	font-size: 12pt;
}

table {
	width: 100%;
	border-collapse: collapse;
	
}

td, th {
	border: 1px solid #ffdcc0;
	padding: 5px;
}

th {
	background-color: #ffb7fa;
	color: white;
	text-shadow: 2px 2px 2px black;
	background-image: linear-gradient(#fff6e7,#ffb7fa, #ac5bad);
}

td {
	text-align: center;
}

tr {
	background-color: #fff5ee;
	transition: background-color 0.2s;
}

tr:nth-child(even)
{
	background-color: #fff1d8;
}

tr:hover {
	background-color: white;
}

.editor-box {
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.butts {
	padding: 15px;
	margin-bottom: 10px;
	font-size: large;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	border: 0;
	background-color: #7ab7ff;
	border-radius: 5px;
	color: white;
	text-shadow: 2px 2px 2px black;
	box-shadow: inset 0px 0px 5px 0px #00000030;
	user-select: none;
    cursor: pointer;
	transition: background-color 0.2s;
}

.butts:hover {
	background-color: #d3e7ff;
}

.cancel-butts {
	background-color: #ff7a7a;
}

.cancel-butts:hover {
	background-color: #ffd3d3;
}

.editor-aa {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.editor-aa label {
	text-align: right;
	width: 100px;
	margin-right: 10px;
}

.editor-aa input {
	font-size: large;
	width: 100%;
}

#mybox {
	width: 100%;
	height: 250px;
	resize: none;
	font-size: large;
}

.editor-errors {
	color: red;
	margin-bottom: 10px;
}

.editor-errors li {
	margin-left: 32px;
}

.article-main {
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 4px dotted #ffdcc0;
	
	border-top: 4px dotted #ffdcc0;
	margin-top: 25px;
	padding-top: 25px;
}

.article-info {
	font-size: 10pt;
	padding-top: 0px;
	font-style: italic;
}

.article-commentbox {
	margin-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#article-tb {
	width: 750px;
	height: 100px;
	resize: none;
	font-size: large;
}

#comment-button {
	margin-left: 10px;
	margin-bottom: 0px;
	position: relative;
    bottom: 20px;
}

.article-comment {
	padding: 20px;
	margin-top: 20px;
	border: 2px solid #ffdcc0;
	border-radius: 5px;
	transition: background-color 0.2s;
}

.article-comment:hover {
	background-color: #ffdcc0;
}

.digimon {
	display: line;
	height: 32px;
	image-rendering: pixelated;
	position: relative;
	top: 4px;
	margin-right: 10px;
}

.reg {
	margin-right: 20px;
}

.reg label {
	width: 200px;
}

.exa {
	margin-bottom: 5px;
}

input {
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 2px;
	padding-right: 2px;
	font-family: monospace;
}

textarea {
	border: 1px solid black;
	border-radius: 5px;
}